p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  /* width: 100%; */
  /* max-width: 100%; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  color: #3e3e3e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
}

.container {
  margin: 0 auto;
  /* width: 100%; */
  width: 1150px;
  padding-left: 20px;
  padding-right: 20px;

  /* outline: aqua solid; */
}

/* ----------------Хедер ----------------*/

.header {
  background-color: #1a1f2f;
}

.header__logo {
  margin-right: 25px;
}

.header__name {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;

  color: #ffffff;
}

.head__N {
  margin-right: 144px;
}

.header__dableN {
  font-size: 12px;

  color: #ffffff;
}

.menu__link {
  font-size: 16px;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover,
.menu__link:focus {
  color: #fa721b;
}

.menu__link--current {
  font-weight: 700;
  font-size: 16px;

  color: #fa721b;
}

.button {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  color: #ffffff;
  background: #fa721c;
  border-radius: 23px;
  padding: 11px 27px;
  border: none;

  width: 210px;
  height: 41px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #fea000;
}

.header__nav {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(120, 134, 162, 0.56);
}

.menu {
  display: flex;
  gap: 54px;
  margin-right: 192px;
}

/* -----------------Герой ------------------*/
.hero__sec {
  background-color: #1a1f2f;
}

.hero__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 32px;

  color: #fa721c;
  margin-bottom: 49px;
}

.hero__p {
  color: #ffffff;
  margin-bottom: 30px;
}

.hero__pp {
  color: #ffffff;
  margin-bottom: 79px;
}

.button-dark {
  font-size: 16px;

  color: #fa721c;
  background: rgba(120, 134, 162, 0.56);
  border-radius: 23px;
  border: none;
  padding: 11px 23px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-dark:hover,
.button-dark:focus {
  background-color: rgba(107, 142, 210, 0.56);
}

.hero_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 45px;
}

.hero__text {
  width: 610px;
}

.main-content .main-planet.video {
  height: auto;
  margin-left: auto;
  mix-blend-mode: screen;
  width: 500px;
}

/* ------------------О компании----------------- */
.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about__little {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;

  color: #ffffff;
  background: #fa721c;
  border-radius: 17px;
  width: 200px;
  height: 150px;
  text-align: center;
  padding: 10px 40px 25px 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__little:hover,
.about__little:focus {
  background-color: #fea000;
}

.about-accent {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 48px;

  color: #ffffff;
}

.about__little--accent {
  background: #7886a2;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__little--accent:hover,
.about__little--accent:focus {
  background-color: rgba(107, 142, 210, 0.56);
}

.title {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;

  color: #fa721c;
  text-transform: uppercase;
}

.title-pluse {
  text-align: center;
}

.about__list {
  font-family: "Noto Serif";
  font-weight: 700;

  color: #3e3e3e;
  text-transform: uppercase;
}

.about-li:not(:last-child) {
  padding-bottom: 15px;
}

.about__img {
  padding-top: 66px;
}

.block__little {
  display: flex;
  gap: 55px;
  padding-top: 70px;
}

.two {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about__txt {
  padding-bottom: 23px;
  padding-top: 28px;
  line-height: 1.5;
  text-align: justify;
}

.about__txt-one {
  padding-bottom: 23px;
  line-height: 1.5;
  text-align: justify;
}
.about__txt-two {
  padding-bottom: 50px;
  line-height: 1.5;
  text-align: justify;
}

.about__block-two {
  width: 558px;
}
.benefits__icon {
  fill: #fa721c;
  margin-right: 25px;
}

.about__effect {
  position: absolute;
  left: 395px;
}

/* ----------------Почему мы---------------- */
.why {
  background-image: linear-gradient(
      rgba(26, 31, 47, 0.5),
      rgba(26, 31, 47, 0.5)
    ),
    url(../img/image-section-20-min\ 2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.why__title {
  padding-top: 75px;
}

.why__text {
  text-align: justify;

  color: #ffffff;
  padding-top: 47px;
}

.why__tit {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;

  color: #fa721c;
  padding-bottom: 20px;
}

.why__det {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 20px;

  color: #7887a2;
}

.why__det--ac {
  padding-bottom: 47px;
}

.why__img {
  border-radius: 17px;
}

.why__img--ac {
  padding-top: 23px;
}

.why__list {
  display: flex;
  gap: 105px;
  padding-top: 60px;
}

.why__li {
  width: 300px;
  padding-bottom: 96px;
}

/* -----------------Форма + -------------*/
.form {
  padding-top: 89px;
  padding-bottom: 89px;
  background-color: #e9e9e9;
}

.form__sub-title {
  font-size: 32px;
  line-height: 1.3;

  color: #3e3e3e;
  text-align: center;
  padding-bottom: 67px;
  padding-top: 34px;
}

.form__lit-tit {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;

  color: #000000;
  padding-bottom: 10px;
}

.form__li:not(:last-child) {
  padding-bottom: 30px;
}

.form__li {
  display: flex;
  gap: 25px;
}
.form__li-img {
  width: 30px;
  height: 28px;
}

.form__bg {
  position: relative;
  width: 475px;
  height: 540px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  padding: 38px 50px 64px 50px;
  z-index: 2;
}

.forma__tit {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  text-align: center;

  color: #7886a2;
  padding-bottom: 35px;
}

.forma__input {
  width: 100%;
  height: 53px;

  background: #e9e9e9;
  border: 1px solid rgba(120, 134, 162, 0.22);
  border-radius: 5px;
  margin-bottom: 30px;

  font-size: 16px;
  padding: 17px 24px;
}

.forma__input::placeholder {
  color: #3e3e3e;
}

.forma__button {
  width: 100%;
  height: 58px;
  font-size: 20px;

  margin-top: 25px;
}

.form__cont-all {
  display: flex;
  gap: 36px;
}

.form__cont-one {
  padding-top: 124px;
  position: relative;
}

.form__list {
  width: 522px;
  margin-left: 53px;
}

.form__rou {
  position: absolute;
  left: 95px;
  top: 57px;
  z-index: 1;
}

.form__rou-blue {
  position: absolute;
  left: 410px;
  bottom: -20px;
}

/* ----------------Футтер---------------- */
.footer {
  background-color: #1a1f2f;
}

.footer_bl-logo {
  display: flex;
  align-items: center;
}

.footer__txt {
  font-size: 16px;
  text-align: justify;

  color: #7887a2;
  padding-top: 35px;
  width: 404px;
}

.footer__title {
  font-family: "Noto Serif";
  font-weight: 700;
  line-height: 1.2;

  color: #fa721c;
  padding-bottom: 40px;
}

.footer__p {
  font-size: 16px;
  line-height: 1.2;

  color: #7887a2;
}

.footer__li:not(:last-child) {
  padding-bottom: 21px;
}

.footer_bl-all {
  display: flex;
  gap: 70px;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;

  border-bottom: 1px solid rgba(120, 134, 162, 0.56);
}

.footer__p-ac {
  font-weight: 700;
}

.footer__copy {
  font-size: 16px;
  color: #7887a2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -------------Команда--------------- */
/* --------------Шапка--------------- */

.header__team {
  background-color: #fff;
}

.header__name--team {
  color: #1a1f2f;
}

.header__dableN--team {
  color: #1a1f2f;
}

.menu__link--team {
  color: #1a1f2f;
}

/* --------------Команда--------------- */

.team {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.team__tit {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.team__list {
  display: flex;
  gap: 35px;
}

.team__li {
  width: 250px;
}

.team__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;

  color: #7887a2;
  padding-top: 20px;
}

.team__pos {
  line-height: 1.3;

  color: #3e3e3e;
  padding-top: 11px;
}

.team__txt--acent {
  color: #fa721c;
}

.team__txt {
  padding-bottom: 31px;
}

.team__txt--one {
  padding-bottom: 31px;
}

.team__all-t {
  display: flex;
  justify-content: space-between;

  padding-bottom: 74px;
}

.team__two {
  width: 442px;
}

.team__list--l {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding-bottom: 90px;
}
