.title {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;

    color: var(--button-color);
    text-transform: uppercase;
}

.title-pluse {
    text-align: center;
}