body {
    background-color: var(--bg-white-color);
    color: var(--txt-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}