.header__team {
    background-color: var(--white-color);
}

.header__name--team {
    color: var(--bg-dark-color);
}

.header__dableN--team {
    color: var(--bg-dark-color);
}

.menu__link--team {
    color: var(--bg-dark-color);
}