.hero__sec {
    background-color: var(--bg-dark-color);
}

.hero__title {
    font-family: "Noto Serif";
    font-weight: 700;

    color: var(--button-color);
    margin-bottom: 26px;

    font-size: 24px;
    text-align: center;
    margin-top: 170px;

    @include tablet {
        font-size: 32px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @include desktop {
        font-size: 32px;
        margin-bottom: 49px;
    }
}

.hero__p {
    color: var(--white-color);

    font-size: 14px;
    margin-bottom: 16px;

    @include tablet {
        font-size: 16px;
        margin-bottom: 30px;
    }

    @include desktop {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.hero__pp {
    color: var(--white-color);

    font-size: 14px;
    margin-bottom: 35px;

    @include tablet {
        font-size: 16px;
    }
    @include desktop {
        font-size: 20px;
        margin-bottom: 79px;
    }
}

.button-dark {
    font-size: 16px;

    color: var(--button-color);
    background: rgba(120, 134, 162, 0.56);
    border-radius: 23px;
    border: none;

    padding: 8px 23px;
    width: 180px;
    height: 41px;
    display: block;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: rgba(107, 142, 210, 0.56);
        }
}


.hero_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 60px;

    @include tablet {
        padding-top: 30px;
    }
    @include desktop {
        padding-bottom: 45px;
        padding-top: 80px;
    }
}

.hero__text {
    width: 610px;
}

.main-content .main-planet.video {
    height: auto;
    margin-left: auto;
    mix-blend-mode: screen;
    width: 250px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

            @include tablet {
                position: relative;
                    width: 400px;
                    left: 60%;
                    top: 50%;
                    transform: translate(-50%, 0%);
            }
            @include desktop {
                width: 500px;
                left: 50%;
            }

}