.why {
    background-image: linear-gradient(rgba(26, 31, 47, 0.5),
            rgba(26, 31, 47, 0.5)),
        url(../img/image-section-20-min\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    

    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}


.why__text {
    text-align: justify;

    color: var(--white-color);


    font-size: 14px;
    padding-top: 35px;

    @include desktop {
        font-size: 20px;
        padding-top: 47px;
    }
}

.why__tit {
    font-weight: 700;

    text-transform: uppercase;

    color: var(--button-color);
    padding-bottom: 20px;

    font-size: 20px;

    @include desktop {
        font-size: 24px;
    }
}

.why__det {

    text-align: justify;
    padding-bottom: 20px;

    color: var(--txt-lit-color);

    font-size: 14px;

    @include desktop {
        font-size: 16px;
    }
}

.why__det--ac {


    padding-bottom: 20px;

    @include desktop {
        padding-bottom: 47px;
    }
}

.why__img {
    border-radius: 17px;
}

.why__img--ac {
    padding-top: 23px;
}

.why__list {
    display: flex;

    flex-wrap: wrap;
    padding-top: 35px;
    justify-content: center;
    gap: 40px;

    @include desktop {
        gap: 105px;
        padding-top: 60px;
    }
}

.why__li {
    width: 300px;
    
    text-align: center;

    @include desktop {
        text-align: left;
    }
}